
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
   <div class="row">
      <div class="col-md-12">
         <div class="collapse navbar-collapse" id="navbarNavAltMarkup2">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" routerLink="/manager/home">Home</a>
              <a class="nav-item nav-link" routerLink="/manager/appointments">Appointments</a>
              <a class="nav-item nav-link" routerLink="/manager/services">Services</a>
              <a class="nav-item nav-link" routerLink="/manager/preferences">Preferences</a>
              <a class="nav-item nav-link" routerLink="/manager/users">Users</a>
              <a class="nav-item nav-link" routerLink="/manager/notifications">Notifications</a>
              <a class="nav-item nav-link" (click)="onLogout()">Logout</a>
            </div>
         </div>
      </div>
   </div>
 </nav>