
<!-- HOME -->
<div *ngIf="isRoute==='home'">
   <br/>
<!-- GREETINGS AND DATE NOW -->
   <div *ngFor="let user of user" class="row">
      <div class="col-md-12 grid-margin">
         <div class="row">
            <!-- <div cdkDropList (cdkDropListDropped)="onDrop($event)">
               <div *ngFor="let item of items" cdkDrag>{{ item }}</div>
             </div> -->
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
               <h3 class="font-weight-bold">Welcome {{ user.name }} </h3>
               <h6 class="font-weight-normal mb-0">All systems are running smoothly! Good luck to you and have fun with <span class="text-primary"> " MAGNIFICIENCE "</span></h6>
            </div>
            <div class="col-12 col-xl-4">
               <div class="justify-content-end d-flex-row">
                  <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                     <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button" id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                     {{ dateNow }}
                     </button>
                  </div>
                  <br/>
                  <div class="form-group">
                  <form>
                     <label for="exampleFormControlTextarea6">COMPTE :</label>
                     <input class="form-control"
                        #selectCoast
                        type="number" 
                        name="coast"
                        (change)="onChangeCoast(selectCoast.value)"
                        placeholder="Enter a Coast of offer..."
                     >
                     <input type="submit" (click)="ask_compte()" value="Ask">
                  </form>
               </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   
   <br/><br/>

<!-- LIST OF YOUR APPOINTMENTS AT HOME -->
   <div class="row">

      <div class="col-md-12 grid-margin stretch-card">
         <div class="card">
            <div class="card-body">
               <div class="row">
                  <div class="col-md-10">
                     <h5 class="card-title">List of your appointment</h5>
                     <p class="card-description">There are the list of your appointment</p>
                  </div>
                  <div class="col-md-2">
                     <h5 class="card-title"></h5>
                     <button routerLink="/appointments" class="btn btn-warning boutton-clignote">Add new appointment</button>
                  </div>
               </div>

               <div class="table-responsive pt-3">
                  <table class="table table-bordered">
                     <thead>
                        <tr>
                           <th>#</th>
                           <th>Name of service</th>
                           <th>Delay (min) </th>
                           <th>Price ($) </th>
                           <th>Date and time</th>
                           <th>Employe</th>
                           <th>Description</th>
                           <th>Status</th>
                        </tr>
                     </thead>
                     <tbody>
                        <ng-container *ngFor="let appointment of appointmentsById">
                           <tr *ngFor="let innerAppointment of appointment.userappointments; let i = index">
                              <td>{{ i + 1 }}</td>
                              <td>
                                 <li *ngFor="let service of innerAppointment.serviceDetails">{{ service.name }}</li>
                               </td>
                               <td>
                                 <li *ngFor="let service of innerAppointment.serviceDetails">{{ service.coast }}</li>
                               </td>
                              <td>
                                 <li *ngFor="let service of innerAppointment.serviceDetails">{{ service.durationMinute }}</li>
                               </td>
                              <td>
                                 <p><b>Begin  : &nbsp; </b> {{ innerAppointment.datetime.substring(0,10)}} - {{ innerAppointment.datetime.substring(11,16) }}</p>
                                 <p><b>Finish : &nbsp; </b> {{ innerAppointment.dateFin.substring(0,10) }} - {{ innerAppointment.dateFin.substring(11,16) }}</p>
                              </td>
                              <td>
                                 <li *ngFor="let emp of innerAppointment.empDetails">{{ emp.name }}</li>
                              </td>
                              <td>{{ innerAppointment.description }}</td>
                              <td>{{ innerAppointment.status }}</td>
                           </tr>
                        </ng-container>
                     </tbody>
                  </table>
               </div>

            </div>
         </div>
      </div>
   </div>

</div>


<!-- APPOINTMENTS -->
<!-- SEARCH BY DATE AFTER HAVING THE EMPLOY NOT BUSY -->
<div *ngIf="isRoute==='appointments'">
   <div class="row">
      <div class="col-md-3 grid-margin stretch-card">
         <div class="card">
            <div class="card-body">
               <h5 class="card-title">Appointments</h5>
               <p class="card-description">Choose the date and time</p>

               <br/>
               <div *ngIf="errorMessage === 'need_complete_date_&time'" class="alert alert-danger" role="alert">
                  You must be given the date and time
               </div>
               <form (ngSubmit)="getEmployNotBusy()"  method="post" class="forms-sample">
               
               <div class="form-group">
                  <div class="row">
                     <div class="col-md-12">
                        <label for="exampleFormControlSelect1">Date and time :</label>
                        <input type="datetime-local" [(ngModel)]="datetime" name="datetime" class="form-control">
                     </div>
                  </div>
               </div>
               <br/>
               <div class="row" style="float: right;">
                  <div>
                     <input type="submit" class="btn btn-success mr-2" value="Search">
                     <button routerLink="/home" class="btn btn-light">Cancel</button>
                  </div>
               </div>

               </form>
            </div>
         </div>
      </div>

      <div class="col-md-9 grid-margin stretch-card">
         <div class="card">
            <div class="card-body">
               <h5 class="card-title">Add appointment</h5>
               <p class="card-description">Choose a employe and check the service you want</p>
               
               <br/>
               <form class="forms-sample">
               
                  <div class="form-group">
                     <label for="exampleFormControlSelect1">Employes available :</label>
                     <select class="form-control" id="exampleFormControlSelect1"
                        #selectElement 
                        name="userEmpId" 
                        (change)="onChangeEmp(selectElement.value)"
                     >
                        <option value="">Choose the employe...</option>
                        <option 
                           *ngFor="let employe of employes" 
                           [value]="employe['_id']"  
                           name="userEmpId" 
                        >                        
                           {{employe['name']}}
                        </option>
                     </select>
                  </div>   
                  <br/>
                  <div class="form-group">
                     <label for="exampleFormControlSelect1">Services :</label>
                     <div class="table-responsive pt-3">
                        <table class="table table-bordered">
                           <thead>
                              <tr>
                                 <th>#</th>
                                 <th>Name</th>
                                 <th>Delay (min)</th>
                                 <th>Price ($)</th>
                                 <th></th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor="let service of services; let i = index">
                                 <td>{{ i+1 }}</td>
                                 <td>{{ service['name'] }}</td>
                                 <td>{{ service['durationMinute'] }}</td>
                                 <td>{{ service['coast'] }}</td>
                                 <td  style="text-align: center;">
                                    <input 
                                       type="checkbox" 
                                       (change)="onChangeService($event, service['_id'])" 
                                       [checked]="checkedValues.includes(service['_id'])" 
                                       [value]="service['_id']"
                                       name="servicesId">
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>

                  <br/>
                  <div class="form-group">
                     <label for="exampleFormControlTextarea1">Description :</label>
                     <input class="form-control"
                        #selectDescription
                        type="text" 
                        name="description"
                        (change)="onChangeDescription(selectDescription.value)"
                        placeholder="Enter a description or observation...">
                  </div>
                  <br/>
                  <div class="row" style="float: right;">
                     <div>
                        <button (click)="add_appointment()" type="submit" class="btn btn-success mr-2">Add</button>
                        <button routerLink="/home" class="btn btn-light">Cancel</button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>

   <br/>

   <div class="row">

      <div class="col-md-12 grid-margin stretch-card">
         <div class="card">
            <div class="card-body">
               <h5 class="card-title">List of your appointment</h5>
               <p class="card-description">There are the list of your appointment</p>
               <div class="table-responsive pt-3">
                  
                  <div class="table-responsive pt-3">
                     <table class="table table-bordered">
                        <thead>
                           <tr>
                              <th>#</th>
                              <th>Name of service</th>
                              <th>Delay (min) </th>
                              <th>Price ($) </th>
                              <th>Date and time</th>
                              <th>Employe</th>
                              <th>Description</th>
                              <th>Status</th>
                           </tr>
                        </thead>
                        <tbody>
                           <ng-container *ngFor="let appointment of appointmentsById">
                              <tr *ngFor="let innerAppointment of appointment.userappointments; let i = index">
                                 <td>{{ i + 1 }}</td>
                                 <td>
                                    <li *ngFor="let service of innerAppointment.serviceDetails">{{ service.name }}</li>
                                  </td>
                                  <td>
                                    <li *ngFor="let service of innerAppointment.serviceDetails">{{ service.coast }}</li>
                                  </td>
                                 <td>
                                    <li *ngFor="let service of innerAppointment.serviceDetails">{{ service.durationMinute }}</li>
                                  </td>
                                 <td>
                                    <p><b>Begin  : &nbsp; </b> {{ innerAppointment.datetime.substring(0,10)}} - {{ innerAppointment.datetime.substring(11,16) }}</p>
                                    <p><b>Finish : &nbsp; </b> {{ innerAppointment.dateFin.substring(0,10) }} - {{ innerAppointment.dateFin.substring(11,16) }}</p>
                                 </td>
                                 <td>
                                    <li *ngFor="let emp of innerAppointment.empDetails">{{ emp.name }}</li>
                                 </td>
                                 <td>{{ innerAppointment.description }}</td>
                                 <td>{{ innerAppointment.status }}</td>
                              </tr>
                           </ng-container>
                        </tbody>
                     </table>
                  </div>

               </div>
            </div>
         </div>
      </div>
   </div>

</div>

<!-- NOTIFICATIONS -->
<div *ngIf="isRoute==='notifications'">
   <app-notification></app-notification>
</div>

<!-- PREFERENCES -->
<div *ngIf="isRoute==='preferences'">
   <app-preference></app-preference>
</div>

<!-- SERVICES  -->
<div *ngIf="isRoute==='services'">
   <app-service></app-service>
</div>