<!-- LIST MONEYS ASK IN MANAGER -->
<div class="row">
   <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
         <div class="card-body">
            <h5 class="card-title">List ask of money</h5>
            <p class="card-description">There are the list of ask money</p>
            <div class="table-responsive pt-3">
               <table class="table table-bordered">
               <thead>
                  <tr>
                     <th>#</th>
                     <th>Name</th>
                     <th>Coast</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let transaction of transactions; let i = index">
                     <td>{{ i + 1 }}</td>
                     <td>
                        <li>{{ transaction.users[0].name }}</li>
                     </td>
                     <td>
                        <li>{{ transaction.coast }}</li>
                     </td>             
                     <td style="text-align: center;">
                        <button (click)="validateRequest(transaction._id)" class="btn btn-success">Validate</button>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>