<br/>
<div class="container">
   <div class="row">
      <div class="col-md-12">
         <div class="card text text">
            <div class="card-header">
               <h5 (click)="actualiser()" style="text-align: center;"> ******************** &nbsp;&nbsp; MAGNIFICIENCE (Manager)&nbsp;&nbsp;  ********************</h5>
            </div>
            <div class="card-body">
               
               <app-header-manager></app-header-manager>
               <br/>
               <app-content-manager></app-content-manager>
            <br/>   
         </div>
         
         <app-footer></app-footer>
            
      </div><br/><br/>
   </div>
</div>